.error-message {

    text-align: center;
    background: #EA2027;
    color: #f1f1f1;
    padding: 10px 13px;

    font-size: 18px;
    font-weight: 600;
}
.success-message {

    text-align: center;
    background: #2ecc71;
    color: #f1f1f1;
    padding: 10px 13px;

    font-size: 18px;
    font-weight: 600;
}