{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'word.css' %}">
    <link rel="stylesheet" href="{% static 'message.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="container">
        {% if messages %}
                <div class="row justify-content-center" id="messageBox">
                        {% for message in messages %}
                        <div id="message-section" {% if message.tags %} class="{{ message.tags }}-message"{% endif %}><i class="far fa-check-circle"></i>  {{ message }}</div>
                        {% endfor %}
                </div>
        {% endif %}
        <div class="header">
            <h2>Tərcüməni yaz və yoxla</h2>
        </div>
        {% if not completed_message %}
        <form class="form-control" method="POST">
            <label><b>Bilinən sözlər:       {{ known_count }} / {{ word_count }}</b></label>
        {% csrf_token %}
            <div class="form-group">
                <label for="">Söz:</label>
                <input type="text" value="{{ translate.source.word|upper }}" disabled name="source">
                <input type="hidden" value="{{ translate.source.word }}" name="hidden-source">
            </div>
            <div class="form-group">
                <label for="">Cavabın:</label>
                <input type="text" name="target" required>
            </div>
        <button type="submit">Yoxla</button>
        <a id='passbtn' href="{% url 'home' %}">Keç</a>
        <a id='resetbtn' href="{% url 'reset' %}">Sıfırla</a>
        </form>
        {% else %}
            <h2 style="text-align: center">{{ completed_message }}</h2>
            <a id='passbtn' style="text-align: center" href="{% url 'reset' %}">Sıfırla</a>
        {% endif %}
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
</body>
</html>